<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; chaset=UTF-8" htpp-equiv="Content-Type"/>
	</head>
	<body>
		<h1>Docente contacto </h1>
		<p>El siguiente alumno se ha suscrito a la lista de correo de @suscribir.materia <br/>
		   Nombre complero: <%= @suscribir.nombre %> <%= @suscribir.apellido %> <br/> 
		   C&eacute;dula: <%= @suscribir.cedula %> <br/> 
		   Correo: <%= @suscribir.email %> 
		</p>
		
	</body>
</html>